<template>
  <div class="flex flex-row h-10 items-center justify-center border-b-2">
    <svg
      v-if="showBack"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 absolute left-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 19l-7-7m0 0l7-7m-7 7h18"
      />
    </svg>
    <span class="font-semibold uppercase">{{ title }}</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 absolute right-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',
  props: {
    title: {
      type: String,
      default: () => 'Inicio',
    },
    showBack: {
      type: Boolean,
      default: () => false,
    },
  },
}
</script>