<template>
  <div
    class="
      w-screen
      h-screen
      flex flex-col
      justify-center
      items-center
      bg-gray-100
      font-body
      px-10
      space-y-10
    "
  >
    <img
      class="w-32 h-32 bg-gray-300 p-4 rounded-full border-4 border-gray-800"
      src="../../assets/images/account.png"
    />
    <div class="flex flex-col space-y-4 w-full">
      <el-input v-model="username" placeholder="Usuario" />
      <el-input v-model="password" type="password" placeholder="Contraseña" />
      <el-button type="primary">
        <div class="flex flex-row items-center justify-center space-x-2">
          <span>Iniciar sesión</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
            />
          </svg>
        </div>
      </el-button>
    </div>
    <el-button type="success" class="w-full">
      <div class="flex flex-row items-center justify-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4v16m8-8H4"
          />
        </svg>
        <span>Crear cuenta</span>
      </div>
    </el-button>
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
  data() {
    return {
      username: '',
      password: '',
    }
  },
}
</script>