<template>
  <div class="flex flex-col h-screen font-body">
    <the-header title="Descripción" :show-back="true" />
    <el-carousel trigger="click" height="250px">
      <el-carousel-item v-for="item in 4" :key="item">
        <h3 class="small">{{ item }}</h3>
      </el-carousel-item>
    </el-carousel>
    <div class="flex flex-col flex-1 p-2 overflow-scroll">
      <div class="flex flex-row justify-between uppercase font-semibold">
        <span>Title</span>
        <span>$35.00 /dia</span>
      </div>
      <div class="flex flex-row space-x-1 text-xs">
        <div
          class="
            flex flex-row
            justify-center
            items-center
            font-semibold
            space-x-1
          "
        >
          <img class="w-3 h-3" src="../assets/images/car-door.png" />
          <span>4</span>
        </div>
        <div
          class="
            flex flex-row
            justify-center
            items-center
            font-semibold
            space-x-1
          "
        >
          <img class="w-3 h-3" src="../assets/images/manual-transmission.png" />
          <span>4</span>
        </div>
        <div class="flex flex-row justify-center items-center space-x-1">
          <img class="w-3 h-3" src="../assets/images/freezer.png" />
          <span>4</span>
        </div>
        <div class="flex flex-row justify-center items-center space-x-1">
          <img class="w-3 h-3" src="../assets/images/seat.png" />
          <span>4</span>
        </div>
      </div>
      <p class="text-sm leading-tight mt-6">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English. Many desktop publishing packages and web
        page editors now use Lorem Ipsum as their default model text, and a
        search for 'lorem ipsum' will uncover many web sites still in their
        infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).
      </p>
    </div>
    <the-footer />
  </div>
</template>

<script>
import TheFooter from '~/components/TheFooter.vue'
import TheHeader from '~/components/TheHeader.vue'
export default {
  name: 'CarDetailsPage',
  components: { TheHeader, TheFooter },
}
</script>

<style scoped>
.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
</style>