<template>
  <div class="flex flex-col h-screen font-body">
    <the-header />
    <div
      class="flex flex-col flex-1 overflow-scroll bg-gray-100 p-4 shadow-inner"
    >
      <nuxt-link
        v-for="n in 10"
        :key="n"
        to="/car"
        class="flex flex-row my-1 shadow border rounded-md"
      >
        <img
          src="https://via.placeholder.com/150"
          class="h-32 w-32 bg-gray-300 overflow-hidden"
        />
        <div class="flex-1 flex flex-col p-2 justify-between">
          <span class="uppercase text-xs font-semibold">Titulo</span>
          <span class="text-xs leading-tight font-light text-gray-700">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </span>
          <div class="flex flex-row justify-between leading-none">
            <div class="flex flex-row space-x-1 text-xs">
              <div
                class="
                  flex flex-row
                  justify-center
                  items-center
                  font-semibold
                  space-x-1
                "
              >
                <img class="w-3 h-3" src="../assets/images/car-door.png" />
                <span>4</span>
              </div>
              <div
                class="
                  flex flex-row
                  justify-center
                  items-center
                  font-semibold
                  space-x-1
                "
              >
                <img
                  class="w-3 h-3"
                  src="../assets/images/manual-transmission.png"
                />
                <span>4</span>
              </div>
              <div class="flex flex-row justify-center items-center space-x-1">
                <img class="w-3 h-3" src="../assets/images/freezer.png" />
                <span>4</span>
              </div>
              <div class="flex flex-row justify-center items-center space-x-1">
                <img class="w-3 h-3" src="../assets/images/seat.png" />
                <span>4</span>
              </div>
            </div>
            <span class="text-sm font-semibold">$35.00</span>
          </div>
        </div>
      </nuxt-link>
    </div>
    <the-footer />
  </div>
</template>

<script>
import TheFooter from '~/components/TheFooter.vue'
import TheHeader from '~/components/TheHeader.vue'
export default {
  name: 'IndexPage',
  components: { TheHeader, TheFooter },
  data() {
    return {
      list: [],
    }
  },
}
</script>